.contacto {
    h2 {
        background-image: linear-gradient(to bottom, #ff770070 0%, #000000 100%);
        color: #000000;
        padding-bottom: 15px;
        padding-top: 15px;
        background-color: #feaf6a52;
        text-align: center;
        font-size: 40px;
        letter-spacing: 4px;
    }
}

.formulario {
    width: 100%;
    height: 100vh;
    background-image: url(../img/contacto.jpg);
    @include backgrounds (top, no-repeat, cover);
    background-attachment: fixed;
    padding-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    margin-bottom: 100px;

    .form-floating {
        display: inline-block;
        justify-content: center;
        width: 50%;
        font-size: 16px;
        color: #ff7700d2;
        margin-bottom: 30px;
        letter-spacing: 2px;

        .form-select-color {
            color: #ff7700d2;
            font-size: 16px;
            letter-spacing: 2px;
            border-color: transparent;
            border-width: 10px;

        }

        
    }
    .btn-color {
        color: black;
        background-color: #ff7700d2;

    }
}