.header {display: flex;
    align-items: center;
    justify-content: space-evenly;

    img {width: 160px;
        height: 160px;}

    nav {
        ul {list-style: none;
            display: flex;
            li {transition: all 0.3s; &:hover {transform: scale(1.1);}
                a {text-decoration: none;
                    font-size: 18px;
                    color: #feb06a;
                    margin: 0px 30px; &:hover {border-bottom: 2px solid #ff7700c9;}
                }
            }
        }
    }
}