%actividades {background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
    padding-top: 70px;
    padding-bottom: 100px;
    letter-spacing: 3px;
    font-weight: 400;
    color: #feb06a;
    text-align: justify;};
