
/*--------RESPONSIVE HEADER-------*/

@media screen and (max-width: 755px) {
    .header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        justify-items: center;
    }

    .header img {
        margin-left: 32px;
    }

    .header nav {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 600px) {
    .header nav {
        margin-bottom: 20px;
    }

    .header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header img {
        width: 120px;
        height: 120px;
    }
}

/*--------RESPONSIVE FOOTER--------*/

@media screen and (max-width: 650px) {
    .footer {
        flex-direction: column;
        align-items: center;

        .columna-uno {
            margin-left: 50px;
        }

        .columna-dos {
            text-align: center;
        }

        .columna-tres {
            text-align: center;

            .columna-tres-palabra {
                margin-left: 20px;
                justify-content: center;
            }
        }
    }
}

/*--------RESPONSIVE INDEX----------*/

@media screen and (max-width: 950px) {
    .grid-main .carousel-inner .carousel-item .carousel-caption {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 800px) {
    .grid-main .carousel-inner .carousel-item .carousel-caption p {
        font-size: 30px;
    }
}

@media screen and (max-width: 670px) {
    .grid-main .carousel-inner .carousel-item .carousel-caption {
        margin-bottom: 25px;

        .carousel-caption p {
            font-size: 25px;
        }
    }
}


@media screen and (max-width: 580px) {
    .grid-main .carousel-inner .carousel-item {
        display: flex;
        flex-wrap: wrap;

        .carousel-caption p {
            font-size: 20px;
        }

        .carousel-caption a {
            padding: 6px;
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 650px) {
    .grid-main {
        grid-template-rows: 800px 800px;

        .recorrida div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

@media screen and (max-width: 450px) {
    .grid-main {
        .carousel-inner {
            .carousel-item {
                .carousel-caption {
                    p {
                        font-size: 16px;
                        margin-bottom: 25px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 485px) {
    .grid-main {
        .grid-area2 {
            .recorrida {
                div {
                    iframe {
                        width: 400px;
                    }

                    p {
                        width: 400px;

                    }
                }
            }
        }
    }
}

@media screen and (max-width: 405px) {
    .grid-main {
        grid-template-rows: 800px 600px;
        justify-content: space-evenly;

        .grid-area2 {
            .recorrida {
                div {
                    iframe {
                        width: 300px;
                        height: 200px
                    }

                    p {
                        width: 275px;
                        height: 200px;
                        font-size: 10px;
                        padding-top: 50px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 405px) {
    .grid-main {
        .carousel-inner {
            .carousel-item {
                .carousel-caption {
                    a {
                        padding: 4px;
                        font-size: 12px;
                    }

                    p {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}


/*----------RESPONSIVE ACTIVIDADES---------*/

@media screen and (max-width: 750px) {
    main {
        .actividadesect {
            .actividades1 {
                p {
                    margin-left: 50px;
                    margin-right: 50px;
                    margin-bottom: 100px;
                    padding-top: 70px;
                    padding-bottom: 100px;
                    font-size: 12px;
                }
            }

            .actividades2 {
                p {
                    margin-left: 50px;
                    margin-right: 50px;
                    margin-bottom: 100px;
                    padding-top: 70px;
                    padding-bottom: 100px;
                    font-size: 12px;
                }
            }

            .actividades3 {
                p {
                    margin-left: 50px;
                    margin-right: 50px;
                    margin-bottom: 100px;
                    padding-top: 70px;
                    padding-bottom: 100px;
                    font-size: 12px;
                }
            }

            .actividades4 {
                p {
                    margin-left: 50px;
                    margin-right: 50px;
                    margin-bottom: 100px;
                    padding-top: 70px;
                    padding-bottom: 100px;
                    font-size: 12px;
                }
            }

            .actividades5 {
                p {
                    margin-left: 50px;
                    margin-right: 50px;
                    margin-bottom: 100px;
                    padding-top: 70px;
                    padding-bottom: 100px;
                    font-size: 12px;
                }
            }

            .actividades6 {
                p {
                    margin-left: 50px;
                    margin-right: 50px;
                    margin-bottom: 100px;
                    padding-top: 70px;
                    padding-bottom: 100px;
                    font-size: 12px;
                }
            }
        }
    }
}


/*---------RESPONSIVE SUCURSALES--------*/

@media screen and (max-width: 885px) {
    .sucursales {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 500px) {
    .sucursales {
        div {
            iframe {
                width: 350px;
                height: 250px;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .sucursales {
        div {
            iframe {
                width: 300px;
                height: 200px;
            }
        }
    }
}

@media screen and (max-width: 910px) {
    .staff-prof {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
    }
}

@media screen and (max-width: 450px) {
    .staff-prof {
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
    }
}


/*---------RESPONSIVE GALERIA--------*/

@media screen and (max-width: 875px) {
    .grid-galeria {
        grid-template-columns:
            repeat(2, 1fr);
        width: 100%;

        .grid-item-3 {
            grid-row: span 3;
        }

        .grid-item-4 {
            grid-column: span 1;
            grid-row: span 3;
        }

        .grid-item-9 {
            grid-column: 1/3;
            grid-row-start: 5;
            grid-row-end: 7;
            height: 100%;
        }

        .grid-item-6 {
            grid-row: span 2;
        }

        .grid-item-5 {
            grid-column: span 2;
            grid-row: span 2;
        }

        .grid-item-7 {
            grid-row: span 2;
        }

        .grid-item-8 {
            grid-column: span 2;
            grid-row: span 2;
        }
    }

}

@media screen and (max-width: 500px) {
    .grid-galeria {
        grid-template-columns: 1fr;
        width: 100%;

        .grid-item-1 {
            grid-row: span 2;
        }

        .grid-item-2 {
            grid-row: span 2;
        }

        .grid-item-3 {
            grid-row: span 3;
        }

        .grid-item-4 {
            grid-column: span 1;
            grid-row: span 5;
        }

        .grid-item-9 {
            grid-column: 1/2;
            grid-row-start: 5;
            grid-row-end: 6;
        }

        .grid-item-6 {
            grid-row: span 3;
        }

        .grid-item-5 {
            grid-column: span 1;
            grid-row: span 2;
        }

        .grid-item-7 {
            grid-row: span 3;
        }

        .grid-item-8 {
            grid-column: span 1;
            grid-row: span 4;
        }
    }
}

/*---------RESPONSIVE CONTACTO--------*/

@media screen and (max-width: 450px) {
    .formulario {
        .form-floating {
            font-size: 14px;

            .form-select-color {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .formulario {
        .form-floating {
            font-size: 10px;

            .form-select-color {
                font-size: 10px;
            }
        }
    }
}